/* raleway-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff");
}
/* raleway-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v28-latin-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin-500.woff") format("woff");
}
/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-v28-latin-800.woff2") format("woff2"), url("../fonts/raleway-v28-latin-800.woff") format("woff");
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-700.woff") format("woff");
}
/* open-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v34-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-300.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", "Open Sans", "Raleway", "Arial", "sans-serif";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
}

hr {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap-head {
  background-color: #EABF9F;
}

.header {
  padding-top: 18px;
  position: relative;
}

.header__nav {
  display: none;
}

.header__img {
  width: 109px;
  height: 25px;
}

.header__info {
  display: none;
}

.header__logo {
  text-decoration: none;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.close-btn {
  width: 23px;
  height: 10px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/button.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.exit-btn {
  width: 17px;
  height: 17px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav--active {
  display: block;
}

.nav-high {
  padding: 50px 20px 0px 30px;
  overflow-x: hidden;
  background-color: #EABF9F !important;
  -webkit-animation-name: circle-to-square;
  animation-name: circle-to-square;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
  -webkit-animation-direction: 5s;
  animation-direction: 5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.header__nav {
  overflow-x: hidden;
  position: absolute;
  background-color: #EABF9F;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 5;
}

.header__item {
  margin-bottom: 30px;
}

.header__item:last-child {
  margin-bottom: 45px;
}

.header__link {
  text-decoration: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #01384D;
}

.header__btn {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 30px;
  color: #01384D;
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
}

.wrap__number {
  margin-top: 90px;
  padding: 30px;
  background-color: #FFFFFF;
}

.header__tel {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #01384D;
  position: relative;
  display: flex;
  align-items: center;
}
.header__tel::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../../images/Call.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 12px;
}

@keyframes circle-to-square {
  0% {
    width: 100%;
    transform: translateY(-400px);
  }
  50% {
    width: 100%;
    transform: translateY(0px);
  }
}
@media only screen and (min-width: 768px) {
  .header__img {
    width: 160px;
    height: 37px;
  }
  .nav-top,
  .header__btn,
  .wrap__number {
    display: none;
  }
  .header__nav {
    overflow-x: hidden;
    position: static;
    background-color: transparent;
    width: 100%;
  }
  .nav-high {
    padding: 0;
    overflow-x: hidden;
  }
  .header__list {
    display: flex;
    justify-content: flex-end;
  }
  .header__item,
  .header__item:last-child {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .header__item:last-child {
    margin-right: 0px;
  }
  .header__link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5E6E6E;
  }
  .close-btn {
    display: none;
  }
  .header__info {
    display: flex;
    align-items: center;
  }
  .header__btn--on {
    display: block;
  }
  .header__bottom {
    padding: 15px 0;
  }
  .header__tel {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #01384D;
    text-decoration: none;
    margin-right: 38px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .header__tel::before {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url(../../images/Call.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 12px;
  }
}
.hero {
  padding: 50px 0 100px 0;
  overflow-x: hidden;
}

.hero .slick-prev {
  display: none !important;
}
.hero .slick-next {
  display: none !important;
}
.hero .slick-dots {
  width: 250px;
  height: 3px;
  border-radius: 10px;
  bottom: -40px !important;
}
.hero .slick-dots li {
  position: relative;
  display: inline-block;
  width: 50px !important;
  height: 3px !important;
  margin: 0 !important;
  padding: 0;
  bottom: 11px;
  left: -51px;
  cursor: pointer;
}
.hero .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 50px !important;
  height: 3px !important;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background-color: white !important;
  background: transparent;
}
.hero .slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px !important;
  height: 3px !important;
  content: "";
  text-align: center;
  opacity: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
  background-color: black;
}
.hero .slick-list {
  position: relative;
  display: block;
}
.hero .hero__list {
  margin-bottom: 0;
}

.hero__title {
  text-align: start;
  width: 100%;
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 55px;
  color: #01384D;
  position: relative;
  margin: 0 auto;
}

.hero__img {
  width: 100%;
  max-width: 550px;
  margin: 39px auto;
}

.hero__img--two {
  display: none !important;
}

.hero__link {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 25px;
  margin-left: 5px;
  color: #01384D;
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}
.hero__link::after {
  content: "";
  width: 15px;
  height: 10px;
  background-image: url(../../images/next.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

.wrap__modal {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrap__modal--on {
  display: block;
}

.modal {
  width: 100%;
  max-width: 295px;
  padding: 40px 20px;
  top: 5%;
  left: 4%;
  position: absolute;
  background-color: #F6FBFF;
  border: 1px solid #C7DFF5;
}

.modal_off {
  display: none;
}

.inner__exit {
  position: relative;
}

.modal_exit {
  width: 13px;
  height: 13px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/modal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -24px;
  right: 7px;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway";
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #01384D;
}

.modal__name {
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  border: 2px solid #01384D;
  border-radius: 5px;
  padding: 20px;
}
.modal__name::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #01384D;
  opacity: 0.7;
}

.modal_label {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  margin-bottom: 30px;
}
.modal_label span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 21px 24px;
  color: #FFFFFF;
  background-color: #01384D;
}

.modal__tel {
  width: 200%;
  padding: 19px;
  outline: none;
  display: inline-block;
  border: none;
}
.modal__tel::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #01384D;
  opacity: 0.7;
}

.modal__span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #01384D;
  margin-bottom: 7px;
  display: inline-block;
}

.modal__select {
  display: block;
  width: 100%;
  padding: 20px 18px;
  bottom: none;
  background: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  margin-bottom: 25px;
}

.button__wrap {
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.button_dec {
  padding: 16px 39px;
  border: none;
  background-color: #FFFFFF;
  border-left: 2px solid #01384D;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #01384D;
  cursor: pointer;
  transition: all ease 0.3s;
}
.button_dec:hover {
  transition: all ease 0.3s;
  background-color: #C7DFF5;
}

.button_inc {
  padding: 16px 39px;
  border: none;
  background-color: #FFFFFF;
  border-right: 2px solid #01384D;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #01384D;
  cursor: pointer;
  transition: all ease 0.3s;
}
.button_inc:hover {
  transition: all ease 0.3s;
  background-color: #C7DFF5;
}

.button__count {
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #01384D;
}

.modal_send {
  width: 100%;
  padding: 20px;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #01384D;
  border-radius: 5px;
  cursor: pointer;
}

.second__modal {
  display: none;
  width: 100%;
  max-width: 440px;
  padding: 40px 17px;
  top: 5%;
  left: 0%;
  position: absolute;
  background-color: #F6FBFF;
  border: 1px solid #C7DFF5;
}

.second__modal--on {
  display: block;
}

.second__modal--on {
  display: block;
}

.second__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #01384D;
  margin: 0;
  margin-bottom: 25px;
}

.second__image {
  width: 100%;
  margin-bottom: 30px;
}

.secon_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #01384D;
  margin: 0;
  margin-bottom: 27px;
}

.second__btn {
  width: 100%;
  padding: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #01384D;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 50px 0 0 0;
  }
  .hero__list {
    width: 100%;
  }
  .hero__item {
    position: relative;
    width: 100%;
    padding-bottom: 190px;
  }
  .hero__title {
    width: 100%;
    max-width: 735px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #01384D;
    margin: 0;
    margin-bottom: 50px;
  }
  .hero__title::after {
    content: "";
    display: none;
  }
  .hero__img {
    max-width: 500px;
    height: 300px;
    position: absolute;
    top: 150px;
    right: 10px;
    margin: 0;
    z-index: -1;
  }
  .hero .slick-dots {
    bottom: 70px !important;
  }
  .modal {
    max-width: 440px;
    padding: 40px;
    left: 35%;
  }
  .modal__title {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 47px;
  }
  .modal_label {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .modal__span {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
  }
  .second__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
  }
  .second__modal {
    padding: 45px 20px 40px 20px;
    top: 5%;
    left: 35%;
    position: absolute;
    background-color: #F6FBFF;
    border: 1px solid #C7DFF5;
  }
  .modal_exit {
    top: -20px;
    right: -15px;
  }
  .second__image {
    margin-bottom: 40px;
  }
  .secon_text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
  }
  .second__btn {
    padding: 20px;
  }
  .second__title {
    font-size: 30px !important;
    line-height: 36px !important;
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__title {
    font-weight: 800;
    font-size: 90px;
    line-height: 105px;
  }
  .hero__img {
    display: none !important;
  }
  .hero__img--two {
    display: block !important;
    width: 100%;
    max-width: 580px;
    height: 380px;
    position: absolute;
    top: 170px;
    right: 50px;
    margin: 0;
    z-index: -1;
  }
}
.counter {
  padding: 50px 0px 90px 0px;
}

.counter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.counter__item:nth-child(1),
.counter__item:nth-child(2) {
  margin-bottom: 50px;
}

.counter__count {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #01384D;
  margin-bottom: 15px;
}

.counter__description {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;
}

@media only screen and (min-width: 509px) {
  .counter__item:nth-child(1),
  .counter__item:nth-child(2) {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .counter {
    padding: 80px 0px 100px 0px;
  }
  .counter__count {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 111px;
    color: #01384D;
    margin-bottom: 15px;
  }
  .counter__description {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #01384D;
  }
}
@media only screen and (min-width: 1024px) {
  .counter__count {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    color: #01384D;
    margin-bottom: 15px;
  }
  .counter__description {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #01384D;
  }
}
.product {
  position: relative;
  padding-bottom: 90px;
}

.product__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
  color: #01384D;
}

.product__list {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 54px;
}

.product__item {
  margin-right: 40px;
}

.product__link {
  text-decoration: none;
  padding-bottom: 15px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #01384D;
  display: inline-block;
  opacity: 0.6;
  display: flex;
}
.product__link span {
  margin-left: 5px;
}

.product__item:first-child .product__link {
  color: #01384D;
  border-bottom: 3px solid #01384D;
  opacity: 1;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 115px;
  height: 1px;
  background-color: rgba(1, 56, 77, 0.3);
}

@media only screen and (min-width: 768px) {
  .product {
    padding-bottom: 138px;
  }
  .product__title {
    font-size: 50px;
    line-height: 59px;
    margin: 0;
    margin-bottom: 77px;
    text-align: center;
  }
  .product__item {
    margin-right: 0px;
  }
  .product__item:first-child {
    margin-right: 30px;
  }
  .product__link {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 17px;
    padding: 13px 30px;
  }
  .product__item:first-child .product__link {
    padding-right: 0;
    padding-left: 0;
  }
  .product__item:nth-child(2) .product__link {
    padding: 13px 30px;
    background-color: #E6EBED;
    border-radius: 5px;
  }
  .line {
    top: 183px;
  }
}
.product__box {
  margin-bottom: 80px;
}

.buying__item {
  padding: 20px 20px 30px 20px;
  background-color: #F6FBFF;
  border: 1px solid #C7DFF5;
  margin-bottom: 30px;
}

.wrap__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #FF6B6B;
  display: inline-block;
  border-radius: 5px;
  color: #FFFFFF;
}

.buying__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #01384D;
}

.wrap__img--two {
  display: none;
}

.wrap__img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.buying__title--two {
  display: none;
}

.buying__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.content__item:nth-child(1),
.content__item:nth-child(3) {
  margin-bottom: 30px;
}

.content__type {
  font-family: "Josefin Sans";
  display: inline-block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;
  opacity: 0.6;
}

.content__size {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 26px;
  color: #01384D;
}
.content__size span {
  font-size: 14px;
  line-height: 14px;
}

.buying__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #01384D;
  opacity: 0.6;
}

.content__cash {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.cash__price {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #01384D;
  opacity: 0.6;
  margin-bottom: 10px;
}

.cash__value {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #01384D;
}
.cash__value span {
  font-size: 16px;
  line-height: 16px;
  margin-left: 5px;
}

.content__order {
  position: relative;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 24px;
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  color: #01384D;
  display: flex;
  align-items: center;
}
.content__order::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
}

.wrap__link--green {
  line-height: 14px;
  background-color: #1FCA25;
}

.cash__value--red {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #FF5D5D;
  opacity: 0.8;
  margin-right: 20px;
}

.wrap__link--act {
  display: none;
}

@media only screen and (min-width: 450px) {
  .content__item {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  .product__box {
    margin-bottom: 100px;
  }
  .buying__list {
    padding: 20px 40px 30px 30px;
  }
  .wrap__link {
    line-height: 16px;
  }
  .buying__item {
    display: flex !important;
    justify-content: space-between;
  }
  .content__item:nth-child(1),
  .content__item:nth-child(3) {
    margin-bottom: 20px;
  }
  .content__item {
    margin: 0 20px;
  }
  .buying__info {
    width: 100%;
    max-width: 636px;
  }
  .buying__wrap {
    margin-right: 100px;
  }
  .buying__title {
    display: none;
  }
  .wrap__img {
    display: none;
  }
  .wrap__img--two {
    display: block;
    width: 100%;
    max-width: 464px;
    margin-top: 66px;
  }
  .buying__title--two {
    display: block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 33px;
    color: #01384D;
  }
  .buying__content {
    margin-bottom: 20px;
  }
  .content__type {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .content__size {
    font-size: 30px;
    line-height: 35px;
  }
  .buying__text {
    margin-bottom: 25px;
  }
  .cash__value {
    line-height: 35px;
  }
  .content__cash {
    margin-bottom: 25px;
  }
  .content__order {
    line-height: 19px;
  }
  .wrap__link--green {
    line-height: 14px;
    background-color: #1FCA25;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 984px) {
  .content__item:nth-child(1),
  .content__item:nth-child(3) {
    margin-bottom: 0px;
  }
  .wrap__link--act {
    display: inline-block;
  }
  .wrap__linking {
    display: flex;
  }
}
.action__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #01384D;
  text-align: center;
}

.wrap__link--none {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .action__title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 50px;
  }
}
.movie {
  padding-bottom: 90px;
  overflow-x: hidden;
}

.movie__list {
  padding-bottom: 100px;
}

.youtube {
  text-align: center;
}

.movie__item {
  width: 100%;
  max-width: 407px;
}

.movie__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #01384D;
}

.youtube__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #01384D;
}

.youtube__wrap {
  width: 100%;
  max-width: 407px;
  height: 230px;
  margin: 0 auto;
  border: 3px solid #01384D;
  border-radius: 10px;
  margin-bottom: 30px;
}

.youtube__link {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.youtube__desc {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #01384D;
}

.movie .slick-dots {
  bottom: 60px !important;
}

@media only screen and (min-width: 400px) {
  .movie__item {
    margin: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .movie__list {
    padding-bottom: 140px;
  }
  .movie {
    padding-bottom: 120px;
  }
  .movie__item {
    margin: 0 15px;
  }
  .movie__title {
    margin: 0;
    margin-bottom: 87px;
    font-size: 50px;
    line-height: 59px;
  }
  .youtube__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 35px;
  }
  .youtube__wrap {
    width: 100%;
    max-width: 407px;
    height: 300px;
    margin: 0 auto;
    border: 3px solid #01384D;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .youtube__desc {
    font-size: 18px;
    line-height: 26px;
  }
}
.movie__office {
  width: 100%;
  margin: 0 auto;
}

.office__info {
  width: 100%;
  max-width: 609px;
}

.office__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #01384D;
}

.office__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #01384D;
}

.offise__dubleList {
  list-style: disc;
  padding: 25px 20px 25px 30px;
  background-color: #EABF9F;
  border: 2px solid #01384D;
  border-radius: 8px;
  margin-bottom: 30px;
}

.offise__dubleList--two {
  list-style: decimal;
}

.dublelist__item {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #01384D;
  margin-bottom: 10px;
}

.dublelist__item:last-child {
  margin-bottom: 0px;
}

.office__wrap {
  width: 100%;
  max-width: 625px;
  height: 234px;
  background-image: url(../../images/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.office__link {
  width: 100%;
  height: 100%;
}

.office__item:first-child {
  margin-bottom: 30px;
}

.office__info--one {
  margin: 0 auto;
}

.office__wrap--one {
  margin: 0 auto;
}

.office__text--two {
  margin-bottom: 30px;
}

.office__info--two {
  margin: 0 auto;
}

.office__wrap--two {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .office__title {
    margin-bottom: 28px;
    font-size: 50px;
    line-height: 64px;
  }
  .dublelist__item {
    line-height: 29px;
  }
  .office__wrap {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (min-width: 900px) {
  .offise__dubleList {
    margin-bottom: 0px;
  }
  .office__item {
    display: flex;
    align-items: center;
  }
  .office__item--two {
    flex-direction: row-reverse;
  }
  .office__info--one {
    margin: 0;
    margin-right: 46px;
  }
  .office__wrap--two {
    margin-right: 87px;
  }
  .office__item:first-child {
    margin-bottom: 80px;
  }
}
.papular {
  padding-bottom: 70px;
}

.popular__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #01384D;
}

.popular__item {
  width: 100%;
  max-width: 407px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  margin-bottom: 27px;
}

.popular__img {
  width: 100%;
}

.mini__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #01384D;
}

.mini__text {
  margin: 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #01384D;
  opacity: 0.7;
}

.mini__text--two {
  margin-bottom: 17px;
}

.mini__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #01384D;
}

.popular__info {
  padding: 45px 10px 20px 10px;
}

@media only screen and (min-width: 768px) {
  .papular {
    padding-bottom: 130px;
  }
  .popular__title {
    margin: 0;
    margin-bottom: 63px;
    font-size: 50px;
    line-height: 59px;
  }
  .mini__title {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 28px;
  }
  .mini__text {
    font-size: 18px;
    line-height: 25px;
  }
  .mini__text--two {
    margin-bottom: 30px;
  }
  .popular__info {
    padding: 60px 28px 21px 28px;
  }
}
@media only screen and (min-width: 1024px) {
  .popular__list {
    display: flex;
  }
  .popular__item {
    margin-bottom: 0px;
  }
  .popular__item--midle {
    margin: 0 30px;
  }
}
.travel {
  padding-bottom: 70px;
  overflow-x: hidden;
}

.travel .slick-dots {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid black;
  bottom: 0px !important;
}
.travel .slick-dots li {
  position: relative;
  display: inline-block;
  width: 50px !important;
  height: 5px !important;
  margin: 0 !important;
  padding: 0;
  bottom: 11px;
  left: 0px;
  cursor: pointer;
}
.travel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 50px !important;
  height: 5px !important;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  border: 1px solid black !important;
  background-color: white !important;
  background: transparent;
}
.travel .slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px !important;
  height: 5px !important;
  content: "";
  text-align: center;
  opacity: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.travel .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
  background-color: black;
}
.travel .slick-list {
  position: relative;
  display: block;
}

.travel__info {
  margin: 0 auto;
}

.travel__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #01384D;
}

.travel__cover {
  overflow-x: hidden;
  width: 100%;
  max-width: 525px;
  margin-bottom: 25px;
}

.travel__list {
  width: 100%;
  max-width: 525px;
}

.travel__img {
  width: 100%;
}

.travel__desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #01384D;
  margin: 0;
  margin-bottom: 10px;
}

.travel__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #01384D;
  margin: 0;
  margin-bottom: 25px;
}

.travel__location {
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #01384D;
  text-decoration: none;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 2px solid #01384D;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: self-start;
  transition: all 0.3s ease;
}
.travel__location::before {
  content: "";
  width: 12px;
  height: 16px;
  background-image: url(../../images/Location.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 12px;
  transition: all 0.3s ease;
}
.travel__location:hover {
  color: #FFFFFF;
  background-color: #01384D;
  transition: all 0.3s ease;
}
.travel__location:hover::before {
  background-image: url(../../images/Location-light.svg);
  transition: all 0.3s ease;
}

.travel__info .travel__cover {
  display: block;
}

.carousel-on {
  display: none;
}

.travel__info {
  width: 100%;
  max-width: 481px;
}

.youtube__wrap {
  position: relative;
}

.tout__img {
  width: 100%;
  position: absolute;
  max-width: 405px;
  height: 225px;
  /* top: 0; */
  border-radius: 10px;
  z-index: 4;
}

.ytNone {
  display: none;
}

.space__btn {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/ytBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 15;
  top: 38%;
  left: 43%;
}

@media only screen and (min-width: 768px) {
  .travel {
    padding-bottom: 90px;
  }
  .tout__img {
    width: 100%;
    position: absolute;
    max-width: 405px;
    height: 295px;
    /* top: 0; */
    border-radius: 10px;
    z-index: 4;
  }
  .travel__title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 59px;
  }
  .travel__cover {
    margin-bottom: 0px;
  }
  .travel__desc {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .travel__text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 46px;
  }
  .travel__location {
    font-size: 18px;
    line-height: 21px;
  }
}
@media only screen and (min-width: 1024px) {
  .travel__info {
    margin: 0 0;
  }
  .travel__info {
    margin-right: 20px;
  }
  .travel__info .travel__cover {
    display: none;
  }
  .travel__wrap {
    display: flex;
    justify-content: space-between;
  }
  .carousel-on {
    display: block;
  }
}
.interes {
  padding: 70px 0 63px 0;
  background-color: #EABF9F;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.interes__info {
  margin-bottom: 47px;
}

.interes__title {
  text-align: start;
  margin: 0;
  margin-bottom: 3px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #01384D;
}

.interes__text {
  text-align: start;
  margin: 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 23px;
  color: #01384D;
}

.interes__wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 420px;
}
.interes__wrap .interes__count {
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;
}

.interes__input {
  width: 100%;
  padding: 15px 25px 15px 50px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: rgba(1, 55, 77, 0.7568627451);
}
.interes__input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #01384D;
  opacity: 0.4;
}

.interes__btn {
  width: 100%;
  max-width: 420px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #01384D;
  border: none;
  border-radius: 5px;
  padding: 13px;
}

.interes__second {
  display: none;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 117px 0 120px 0;
  position: absolute;
  top: 10px;
  background-color: #EABF9F;
}

.interes__second--on {
  display: block;
}

.second__wrap {
  width: 100%;
  max-width: 455px;
  margin: 0 auto;
}

.second__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #01384D;
}

.second__text {
  margin: 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;
}

@media only screen and (min-width: 450px) {
  .interes__title {
    text-align: center;
  }
  .interes__text {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .interes {
    padding: 112px 0 112px 0;
    text-align: start;
  }
  .interes__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .interes__info {
    margin-right: 20px;
  }
  .interes__form {
    width: 100%;
    max-width: 400px;
  }
  .interes__info {
    margin-bottom: 0px;
  }
  .interes__title {
    text-align: start;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
  }
  .interes__text {
    text-align: start;
    font-size: 16px;
  }
  .interes__input {
    margin-bottom: 20px;
    padding: 21px 23px 20px 60px;
    font-size: 16px;
    line-height: 19px;
  }
  .interes__btn {
    width: auto;
    font-size: 18px;
    line-height: 21px;
    padding: 19px 82px;
    border: none !important;
  }
  .interes__second {
    padding: 91px 0 80px 0;
    position: absolute;
    top: 0;
    background-color: #EABF9F;
  }
  .second__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #01384D;
  }
  .second__text {
    margin: 0;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #01384D;
  }
  .interes__count {
    top: 22px !important;
    left: 20px !important;
    font-size: 16px;
    line-height: 19px;
  }
}
@media only screen and (min-width: 1230px) {
  .interes__form {
    width: 100%;
    max-width: 675px;
  }
  .interes__input {
    margin-bottom: 0px;
    padding: 21px 23px 20px 60px;
  }
  .interes__info {
    margin-right: 0px;
  }
}
.footer {
  position: relative;
}

.footer__top {
  padding: 30px 0 30px 0;
}

.high__list {
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.high__link {
  text-decoration: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;
}

.high__icon {
  width: 100%;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  height: 1px;
  background-color: rgba(1, 56, 77, 0.3);
}

.footer__down {
  padding: 38px 0 15px 0;
  position: relative;
}

.down__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.down__span {
  padding: 3px 8px;
  border: 2px solid #00094A;
}

.down__link {
  display: inline-block;
  background-color: #00094A;
  padding: 3px 5px;
}

.down__img {
  width: 100%;
  max-width: 80px;
  height: 22px;
}

.down__image {
  width: 100%;
  max-width: 48px;
  height: 17px;
}

.down__text {
  margin: 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #01384D;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.down__top {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-image: url(../../images/top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0px;
  top: 25px;
}

@media only screen and (min-width: 768px) {
  .footer__top {
    padding: 57px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .high__list {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .high__link {
    font-size: 16px;
    line-height: 19px;
  }
  .footer__down {
    padding: 25px 0 25px 0;
  }
  .down__img {
    width: 100%;
    max-width: 110px;
    height: 31px;
  }
  .down__image {
    width: 100%;
    max-width: 83px;
    height: 28px;
  }
  .down__span {
    padding: 6px 15px;
  }
  .down__link {
    padding: 6px 10px;
  }
  .down__text {
    font-size: 14px;
    line-height: 16px;
  }
  .down__wrap {
    margin-bottom: 0px;
  }
  .footer__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .footer__line {
    top: 122px;
  }
  .down__top {
    background-image: url(../../images/top_big.svg);
    right: 40%;
    top: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .high__list {
    margin-right: 0px;
  }
  .down__top {
    right: 50%;
  }
}/*# sourceMappingURL=main.css.map */